@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #6580a5;
}
.dashContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dashItem{
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(104, 147, 178, 0.3);
    box-shadow: 0 0 40px black;
    border-radius: 8px;
    width: 450px;
    text-align: center;
    transition: all 1s ease;
    transform-origin: top;
}

.dashItem:hover{
    background:  rgba(119, 166, 200, 0.3);
    border-radius: 20px;
}

.forecastFlexBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weatherInfo{
    font-family: "Rowdies", sans-serif;
    text-shadow: 1px 2px black;
    color: lightgrey;
    padding: 0;
}

.innerFlexItem{
    display: flex;
}

.bookmarkIcon{
    width:30px;
    padding:10px;
}

#bookmarksBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-top: 40px;
}

#background{
    position: fixed;
    z-index: -10;
    height: 120vh;
    min-width: 1200px;
    width:100vw;
    margin-top: -100px;
    opacity: 0.45;
}

#quote{
    color: rgb(209, 207, 206);
    text-shadow: black 1px 2px;
    font-family: "Playwrite HU";
}

#datetime{
    font-family: "Rowdies", sans-serif;
    font-size: 19pt;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    border-radius: 30px;
    color: white;
    text-shadow: black 1px 2px;
}

#weatherBox1{
    padding: 0;
    padding-top: 20px;
}
#weatherBox2{
    padding: 0;
    padding-top: 20px;
}

#weatherIcon{
    width: 90px;
    border-radius: 50px;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    margin-left: -20px;
}

#photoBox{
    padding: 0;
    background-color:rgba(0,0,0,0);
    box-shadow: none;
}

#photo{
    width:375px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 0 40px black;

}

#day1{
    font-size: 26pt;
}

#day2{
    font-size: 22pt;
}

#day3{
    font-size: 18pt;
}

#day1_N{
    font-size: 26pt;
}

#day2_N{
    font-size: 22pt;
}

#day3_N{
    font-size: 18pt;
}

#day1_2{
    font-size: 26pt;
}

#day2_2{
    font-size: 22pt;
}

#day3_2{
    font-size: 18pt;
}

#day1_2_N{
    font-size: 26pt;
}

#day2_2_N{
    font-size: 22pt;
}

#day3_2_N{
    font-size: 18pt;
}

#day1Icon{
    width: 65px;
}

#day2Icon{
    width: 50px;
}

#day3Icon{
    width: 35px;
}

#day1IconN{
    width: 65px;
}

#day2IconN{
    width: 50px;
}

#day3IconN{
    width: 35px;
}

#day1Icon2{
    width: 65px;
}

#day2Icon2{
    width: 50px;
}

#day3Icon2{
    width: 35px;
}

#day1Icon2N{
    width: 65px;
}

#day2Icon2N{
    width: 50px;
}

#day3Icon2N{
    width: 35px;
}

.weatherDate{
    color: rgb(150, 150, 150);
}

.cityName{
    font-size: 22pt;
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Playwrite HU";
}

.quote {
    color: white;
    font-family: "Playwrite HU";
}

#authorBar{
    display: inline;
}

#authorDiv{
    display: inline;
}

.news {
    background-color: rgba(112, 128, 144, 0.55);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    width:400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.newsImg {
  width: 175px;  
  padding: 15px;
  border-radius: 20px;
}

.newsLink{
    text-align: left;
    color: lightblue;
    font-size: small;
    font-family: "Newsreader";
}

.newsItem{
    text-align: left;
    font-family: "Newsreader";
    color: white;
    font-weight: bold;
}

.newsSource{
    text-align: left;
    font-family: "Newsreader";
    font-size: small;
    color: white;
}

.newsDescription{
    text-align: left;
    font-family: "Newsreader";
    font-size: small;
    color: white;
}

.hourCount {
    font-size: larger;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: "Rowdies";
    color: lightgray
}